<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">
        <h1> This is about page</h1>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
            Facilis tenetur, expedita consequatur voluptatem ut minima blanditiis eaque illum odit! <br>
            Aspernatur, ipsum aliquid? Sapiente doloribus minima rem, sint ex est repellendus!</p>
    </div>
   
</body>
</html>
